.wrapper {
    display: flex;
    justify-content: center;
}

main {
    width: 75vw;

    @media only screen and (min-width: 769px) {
        width: 50vw;
    }

    @media only screen and (min-width: 1000px) {
        width: 35vw;
    }

    h1 {
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid $main-color;
    }

    a {
        font-size: 1.4rem;
        color: $black;
        text-decoration: none;
    }

    .form-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .field-wrapper {
        @media only screen and (min-width: 600px) {
            display: flex;
        }
    }

    .field {
        margin-bottom: 10px;

        @media only screen and (min-width: 600px) {
            width: 50%;

            &:first-of-type {
                margin-right: 10px;
            }
        }

        label {
            font-size: 1.8rem;
        }

        input {
            margin-top: 5px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $black;
            line-height: 2rem;
        }
    }

    p {
        font-size: 1.8rem;
    }

    textarea {
        margin-top: 5px;
        width: 100%;
        resize: none;
        font-family: inherit;
        border: 1px solid $black;
        border-radius: 5px;
        line-height: 1.2rem;
    }

    .send {
        color: $main-color;
        margin-top: 10px;
        width: auto;
        padding: 8px 15px;
        align-self: center;
        font-size: 1.6rem;
        border: 1px solid $main-color;
        border-radius: 50px;
        background: transparent;

        &:hover {
            background: $main-color;
            color: $white;
        }
    }
}