.card {
    height: 250px;
    width: 250px;
    margin-bottom: 40px;
    position: relative;

    &:hover {
        .card-content {
            background: rgba(0, 0, 0, .7);
        }
    }

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        height: 400px;
        width: 400px;
    }

    @media only screen and (min-width: 769px) {
        margin: 0 20px;
    }

    @media only screen and (min-width: 900px) {
        height: 300px;
        width: 300px;
    }

    @media only screen and (min-width: 1200px) {
        width: 400px;
        height: 400px;
    }

    .image {
        width: 100%;
        height: 100%;
        border-radius: 400px;
        object-fit: cover;
        background: $main-lighter;
    }

    .card-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        border-radius: 400px;
        color: $white;
        transition: .25s ease;

        h3 {
            margin-bottom: 10px;
        }

        a {
            color: white;
            border-bottom: 1px solid $main-color;
            text-decoration: none;
            padding-bottom: 5px;
            font-weight: 300;
            font-size: 1.6rem;
            display: flex;
            width: 84px;
            transition: .25s ease;

            @media only screen and (min-width: 769px) {
                font-size: 2rem;
                width: 103px;
            }

            .arrow {
                padding-left: 5px;
                border-bottom: 1px solid transparent;
            }

            &:hover {
                color: $main-color;

                .arrow {
                    animation-name: slidingArrow;
                    animation-duration: .75s;
                    animation-iteration-count: infinite;

                    @keyframes slidingArrow {
                        0% {
                            padding-left: 5px;
                        }
                        50% {
                            padding-left: 7px;
                        }
                        100% {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}